<section>
    <div class="container" ng-controller="loginCtrl">

        <div class="top">
            <h1 id="title" class="hidden"><span id="logo">Social <span>FOCUS</span></span>
            </h1>
        </div>

        <div class="top">
            <h1 id="title" class="hidden"><span id="logo">Social <span>FOCUS</span></span>
            </h1>
        </div>
        <div class="login-box animated fadeInUp">

            <div class="box-header">
                <h2>Log In</h2>
            </div>

            <label for="username">Usuario</label>
            <br/>
            <input type="email" id="email" ng-model="usuario.email" required>
            <p>You wrote: {{ usuario.email }}</p>
            <br/>
            <label for="password">Clave</label>
            <br/>
            <input type="password" id="password" ng-model="usuario.password" required>
            <p>You wrote: {{ usuario.password }}</p>
            <br/>
            <button ng-click="getUsuarios()">Log In</button>

            <br/>
            <a href="#">
                <p class="small">Olvido su clave?</p>
            </a>
            <a href="#">
                <p class="small">No tengo usuario</p>
            </a>
        </div>
    </div>
</section>